html {
  font-size: 16px;
  scroll-behavior: smooth;
}

:root {
  --base: #11111b;
  --base2: #181825;
  --primary: #cba6f7;
  --head: #d3b6f7;
  --food: #a6e3a1;
  --text: #cdd6f4;
  --subtext: #a6adc8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: var(--base);
  color: var(--text);
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: "Cal Sans", sans-serif;
  font-weight: 700;
  color: var(--text);
}

h1 {
  font-size: clamp(2.25rem, 8vw, 3.76rem);
}

h2 {
  font-size: clamp(1.85rem, 6vw, 2.82rem);
}

h3 {
  font-size: clamp(1.6rem, 4vw, 2.1rem);
}

h4 {
  font-size: clamp(1.4rem, 3vw, 1.65rem);
}

h5 {
  font-size: 1.18rem;
}

h6 {
  font-size: 0.82rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--subtext);
}
a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

.signature {
  font-size: 10px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--subtext);
}

.signature a {
  font-family: "Cal Sans", sans-serif;
  color: var(--iris-11);
}
.signature a:hover {
  text-decoration: underline;
}
#title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--iris-9);
}

#title {
  font-size: 1rem;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  width: calc(100dvw - 2rem);
  max-width: 800px;
  gap: 1px;
  border-radius: 0.25rem;
}

.square {
  aspect-ratio: 1/1;
  background-color: var(--base2);
  border-radius: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1);
  transition: filter 0.2s ease-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  justify-content: center;
  gap: 2rem;
}

.head {
  background-color: var(--head);
}

.body {
  background-color: var(--primary);
}

.food {
  background-color: var(--food);
}

.score-display {
  text-align: center;
  color: var(--text);
  font-size: 1.25rem;
}

modal {
  position: fixed;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

modal button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 29px;
  background-color: var(--text);
  color: var(--base);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

modal button:hover {
  background-color: var(--primary);
  color: var(--base2);
}
